.address {
  position: relative;
}

.eth-address {
  font-family: "Space Mono", monospace;
  text-transform: lowercase;
  word-wrap: break-word;
}

.eth-address .__react_component_tooltip {
  font-family: 'Montserrat';
  text-transform: capitalize;
}
