@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$line-height-base: 1.6;

$body-bg: #fff;

$custom-text-gray: #b4b4b4;
$custom-text-gold: #feda37;

$brand-dark-blue: #1f1f1f;
$brand-primary: #042cff;
$brand-success: #042cff;
$brand-danger: #e5232d;
$brand-info: #042cff;
$brand-warning: #e0571b;

$link-color: #2e88da;

$font-family-base: 'Montserrat', #{$font-family-base};
$font-size-base: 16px;

$btn-primary-bg:                 #399aec;
$btn-font-weight:                700;
$btn-primary-border:             #1998ec;

$btn-border-radius-base:         2px;
$btn-border-radius-large:        2px;
$btn-border-radius-small:        2px;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$navbar-height: 60px;
$navbar-padding-vertical: 20px;
$navbar-border-radius: 0;

$navbar-inverse-bg: $brand-dark-blue;
$navbar-inverse-link-color: #ddd;
$navbar-inverse-link-active-bg: $brand-dark-blue;
$navbar-inverse-border: none;

$input-border-radius:            2px;
$input-border-radius-large:      2px;
$input-border-radius-small:      2px;

$form-group-margin-bottom:       25px;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:              white;
$state-success-bg:                $brand-success;
$state-success-border:            darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:              white;
$state-info-bg:                $brand-info;
$state-info-border:            darken(adjust-hue($state-info-bg, -10), 5%);

$state-warning-text:              white;
$state-warning-bg:                $brand-warning;
$state-warning-border:            darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              red;
$state-danger-bg:                $brand-danger;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               10px 15px;
$alert-border-radius:         $border-radius-base;

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;
