$card-spacer-y:                     2rem;
$card-spacer-x:                     2rem;
$card-border-width:                 0;
$card-border-radius:                0;
$card-border-color:                 rgba(black, .125);
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:                       #f8fafd;
$card-bg:                           white;

$card-img-overlay-padding:          1.25rem;

$card-group-margin:                 (10px / 2);
$card-deck-margin:                  $card-group-margin;

$card-columns-count:                3;
$card-columns-gap:                  1.25rem;
$card-columns-margin:               $card-spacer-y;


.header-card {
  .sm-block {
    margin-right: 20px;

    @media (max-width: $screen-sm) {
      display: block;
    }
  }

  .sm-block + button {
    margin-top: 0;
  }

  @media (max-width: $screen-sm) {
    button {
      margin-top: 1rem;
    }
  }

  .card-body {
    padding: 2rem 4rem;

    @media screen and (max-width: 767px) {
      padding: 2rem 2rem;
    }
  }

  .title {
    margin: 3px 0 0 0;
  }
}


//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      border-top-radius: $card-border-radius;
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      border-bottom-radius: $card-border-radius;
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: 4rem;

  @media screen and (max-width: 767px) {
    padding: 2rem;
  }
}

.card-body > .form-wrapper {
  padding: 2rem 0;
}

.card-title {
  margin-bottom: $card-spacer-y;
  margin-top: $card-spacer-y;
}

.card-subtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: 0.5rem 4rem;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: white;
  border-bottom: $card-border-width solid $card-border-color;
  border: 3px solid lighten($brand-info, 30%);
  border: 0;

  &:first-child {
    // border-radius: $card-inner-border-radius $card-inner-border-radius 0 0
    border-radius: 0;
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }

  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.card-footer {
  padding: 2rem 4rem;
  // background-color: #fafafa;
  background-color: white;
  // border-top: $card-border-width solid $card-border-color;
  border: $card-border-width solid $card-border-color;
  min-height: 102px;

  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.card-footer .btn {
  @media (min-width: $screen-sm) {
    margin-left: 10px;
  }
}

//
// Header navs
//

.card-header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  border-radius: $card-inner-border-radius;
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  border-top-radius: $card-inner-border-radius;
}

.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  border-bottom-radius: $card-inner-border-radius;
}


// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: $card-deck-margin;
  }

  // @include media-breakpoint-up(sm) {
  //   flex-flow: row wrap;
  //   margin-right: -$card-deck-margin;
  //   margin-left: -$card-deck-margin;

  //   .card {
  //     display: flex;
  //     // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
  //     flex: 1 0 0%;
  //     flex-direction: column;
  //     margin-right: $card-deck-margin;
  //     margin-bottom: 0; // Override the default
  //     margin-left: $card-deck-margin;
  //   }
  // }
}


//
// Card groups
//

.card-group {
  display: flex;
  flex-direction: column;

  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: $card-group-margin;
  }

  // @include media-breakpoint-up(sm) {
  //   flex-flow: row wrap;
  //   // The child selector allows nested `.card` within `.card-group`
  //   // to display properly.
  //   > .card {
  //     // Flexbugs #4: https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-are-ignored
  //     flex: 1 0 0%;
  //     margin-bottom: 0;

  //     + .card {
  //       margin-left: 0;
  //       border-left: 0;
  //     }

  //     // Handle rounded corners
  //     @if $enable-rounded {
  //       &:first-child {
  //         @include border-right-radius(0);

  //         .card-img-top,
  //         .card-header {
  //           border-top-right-radius: 0;
  //         }
  //         .card-img-bottom,
  //         .card-footer {
  //           border-bottom-right-radius: 0;
  //         }
  //       }

  //       &:last-child {
  //         @include border-left-radius(0);

  //         .card-img-top,
  //         .card-header {
  //           border-top-left-radius: 0;
  //         }
  //         .card-img-bottom,
  //         .card-footer {
  //           border-bottom-left-radius: 0;
  //         }
  //       }

  //       &:only-child {
  //         border-radius: $card-border-radius;

  //         .card-img-top,
  //         .card-header {
  //           border-top-radius: $card-border-radius;
  //         }
  //         .card-img-bottom,
  //         .card-footer {
  //           border-bottom-radius: $card-border-radius;
  //         }
  //       }

  //       &:not(:first-child):not(:last-child):not(:only-child) {
  //         border-radius: 0;

  //         .card-img-top,
  //         .card-img-bottom,
  //         .card-header,
  //         .card-footer {
  //           border-radius: 0;
  //         }
  //       }
  //     }
  //   }
  // }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  // @include media-breakpoint-up(sm) {
  //   column-count: $card-columns-count;
  //   column-gap: $card-columns-gap;

  //   .card {
  //     display: inline-block; // Don't let them vertically span multiple columns
  //     width: 100%; // Don't let their width change
  //   }
  // }
}

.card-title .loader,
.card-footer .loader {
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.card-header p {
  line-height: 1.4;

  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

.card-body--cases__has-pagination {
  min-height: 566px;
  padding-bottom: 0;

  @media (max-width: 768px) {
    min-height: 440px;
  }
}

.card-footer--invoice {
  background: #f1f1f1;
}
