.form-wrapper {
  border-radius: 3px;

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.form-wrapper--body {
  padding: 3rem 2rem;
}

.form-wrapper--body__extra-padding {
  padding: 6rem 4rem;

  @media (max-width: 768px) {
    padding: 4rem 2rem;
  }
}

.form-wrapper--body > h3:first-child {
  margin-top: 0;
}

.form-wrapper--inverse {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
  background: white;
}

.form-wrapper--account {
  margin-top: 30px;
}

.form-wrapper--footer {
  background: #fafafa;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 2rem 2rem;
}

.form-wrapper--footer .loader {
  padding-top: 8px;
  vertical-align: middle;
}

.form-control {
  border: 2px solid #ccc;
  box-shadow: none;
  height: 41px;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  border: 2px solid $brand-info;
  box-shadow: none;
}

.has-error .form-control:focus {
  box-shadow: none;
}

.form-group [role='presentation'] {
  background-color: white !important;
}

.help-block {
  color: $custom-text-gray;
}

.has-error.help-block {
  color: $brand-danger;
}

.form-group--heading {
  color: $custom-text-gray;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 1.5rem 0 1rem 0;
  text-transform: uppercase;
}

.form-group--heading:first-child {
  margin-top: 0;
}

.form-group--heading__help {
  color: #666;
  font-size: 14px;
  margin-top: 0;
  text-transform: initial;
}

.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.form-wrapper--footer .loader {
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 20px;
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  margin-bottom: 6px;
  margin-right: 20px;
  min-width: 100px;
}

.form-group--file-input__filename {
  color: #bbb;
  display: inline-block;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  min-width: 130px;
}

.form-group--file-input__input-container {
  min-height: 70px;
}

button.text-gray:hover,
button.text-gray:focus,
button.text-gray:active {
  color: #888 !important;
  text-decoration: none;
}

.form-group--logical-grouping {
  background: #fafafa;
  padding: 2rem 2rem 1rem 2rem;

  margin-left: -2rem;
  margin-right: -2rem;
}

.form-group--logical-grouping .form-group {
  margin-bottom: 1.5rem;
}

.control-label {
  width: 100%;
}
