.label {
  background-color: white;
  color: $custom-text-gray;
  cursor: inherit;
  pointer-events: none;
  padding: 0.2rem 0;
  font-size: 100%;
  font-weight: 400;
  white-space: inherit;
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default,
.label-primary,
.label-success,
.label-info,
.label-warning,
.label-danger {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 0.2rem 0.7rem;
}

.label-default {
  color: #777777;
}

.label-default[href]:hover,
.label-default[href]:focus {
  color: #5e5e5e;
}

.label-primary {
  color: #337ab7;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  color: #286090;
}

.label-success {
  color: #47ad47;
}

.label-success[href]:hover,
.label-success[href]:focus {
  color: #449d44;
}

.label-info {
  color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
  color: #31b0d5;
}

.label-warning {
  color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  color: #ec971f;
}

.label-danger {
  color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  color: #c9302c;
}
