.loading {
  position: fixed;
  height: 24rem;
  margin: auto;
  padding: 6rem 0 2rem 0;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
}

.loading p {
  color: white;
  margin-top: 10px;
}

.loading .small {
  color: rgba(255, 255, 255, 0.5);
}

.loading--overlay {
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
