.navbar {
  border: 0;
  box-shadow: 2px 2px 2px 0 rgba(200, 220, 240, 0.2);
  margin-bottom: 0;
  min-height: 50px;
  z-index: 1040;
}

.navbar-default {
  background: white;
  border-bottom: 1px solid #ddd;
}

.container > .navbar-header {
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.navbar-brand {
  padding: 15px 0 0 14px;

  @media (max-width: 768px) {
    padding: 2px 0 0 4px;
  }
}

.navbar-inverse .navbar-brand {
  color: #5d89e0;
}

.navbar-brand {
  height: 50px;
}

.navbar-brand img {
  height: 100%;
}

.navbar-toggle {
  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.nav--network-name {
  @media (max-width: 768px) {
    display: none;
  }
}

.nav--network-name li > a {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-inverse .navbar-nav > li.active > a::after,
.navbar-inverse .navbar-nav > li > a:hover::after{
  transform: scaleX(1);
}

.navbar-inverse .navbar-nav > li > a::after {
  content: '';
  display: block;
  width: 100%;
  margin-top: 4px;
  height: 4px;
  transition: transform 150ms ease-in-out;
  transform: scaleX(0);
  background-color: lighten($brand-dark-blue, 30%);
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus {
  background-color: $brand-dark-blue;
}

.navbar-nav > li > a {
  @media (min-width: 768px) {
    padding-bottom: 4px;
    padding-top: 15px;
  }
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #c4c7d4;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  @media (max-width: 767px) {
    background-color: #13336f;
    height: 3px;
    margin: 2rem;
  }
}

.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
  @media (max-width: 767px) {
    padding: 5px 2rem 5px 2rem;
  }
}

.nav--open-cases__circle {
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 12px;
  text-align: center;
  width: 20px;
  z-index: 1;

  @media (max-width: 768px) {
    left: 160px;
    top: 10px;
  }
}

.nav--open-cases__circle:after {
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 20px;
  z-index: -1;
}

.nav--open-cases__not-zero {
  color: white;
  text-shadow: 1px 1px 0 rgba(80, 0, 30, 0.3);
}

.nav--open-cases__not-zero:after {
  background-color: rgba(232, 31, 44, 0.85);
}

.nav--open-cases__zero {
  display: none;
}

.nav--open-cases__zero:after {
  display: none;
}

.nav--circle:before {
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 3px;
  top: 1px;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.navbar-nav a:hover .nav--circle:before {
  border: 2px solid white;
}

.nav--circle__success:before {
  background-color: #44ce46;
}

.nav--circle__warning:before {
  background-color: #f7e12e;
}

.nav--circle__danger:before {
  background-color: #f9434f;
}

.navbar-inverse .navbar-nav > li.nav--button a,
.navbar-inverse .navbar-nav > li.nav--button a:focus {
  background-color: #203a5f;
}

.navbar-inverse .navbar-nav > li.nav--button a {
  border: 1px solid #0b1e38;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 9px;
  min-width: 100px;
  padding-bottom: 1px;
  padding-top: 10px;

  @media (min-width: 768px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    max-width: 150px;
  }
}

.navbar-inverse .navbar-nav > li.nav--button a:hover {
  background-color: #153e79;
}

.navbar-inverse .navbar-nav > li.nav--button.active > a::after,
.navbar-inverse .navbar-nav > li.nav--button > a:hover::after {
  transform: scale(0);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: white;
}
