button, input, optgroup, select, textarea {
  font-family: 'Montserrat';
}


body {
  padding-bottom: 10rem;
  letter-spacing: 0.025rem;
  font-feature-settings: "liga1" on;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  padding-top: 70px;

  @media (max-width: 768px) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  @media (min-width: 768px) and (max-width: 992px) {
    width: 768px;
  }
}

.d-inline-block {
  display: inline-block;
}

// Forces everything to fit within browser window on mobile
.content .container,
.navbar-header {
  @media (max-width: 768px) {
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
}

a {
  cursor: pointer;
  transition: color 30ms ease-in, background-color 80ms ease-out;
}

.title {
  font-weight: 700;
}

.title--inverse {
  margin: 2rem;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.subtitle {
  background-color: white;
  border-bottom: 3px solid #fafafa;
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 6px 0;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.no-margin {
  margin: 0;
}

.valign {
  vertical-align: middle;
}

.body-inverse {
  background: #051A38 !important;
}

/* find way to tap into defined vars in component scss files */
.flip-link {
  cursor: pointer;
}

.danger .currency {
  color: red;
}

.currency,
.flip-link span {
  color: #6bf;
  font-weight: bold;
  text-decoration: none;
  transition: color 50ms ease-in;
}

.flip-link span {
  border-bottom: 3px solid #c9eeff;
  line-height: 24px;
  cursor: pointer;
}

.flip-link span:hover {
  border-bottom: 3px solid #d9f4ff;
}

.flip-link .ether-flip--second-value,
.flip-link .ether-flip--second-value:hover,
.flip-link .ether-flip--second-value span {
  border-bottom: none;
  opacity: 0.7;
  font-weight: normal;
}

button .currency,
.button .currency,
.alert .currency,
button .flip-link span,
.button .flip-link span,
.alert .flip-link span {
  border-color: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}

h1 .small-inverse,
h2 .small-inverse,
h3 .small-inverse,
h4 .small-inverse,
h5 .small-inverse,
h6 .small-inverse {
  color: #4aa8f7;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

.header--no-top-margin {
  margin-top: 0;
}

ul,
ol {
  @media (max-width: 768px) {
    padding-left: 20px;
  }
}

.text-white {
  color: white;
}

not(.nav) li {
  margin-bottom: 0.5em;
}

.text-gray {
  color: $custom-text-gray;
}

.text-blue {
  color: $brand-info;
}

.text-gold {
  color: $custom-text-gold;
}

.text-green {
  color: $brand-success;
}

.text-footer {
  color: $custom-text-gray;
}

.body-inverse .text-footer {
  color: rgba(138, 141, 156, 0.8);
}

.blank-state {
  display: grid;
  grid-template-columns: none;
  grid-gap: 0;
  grid-auto-rows: 80px;
  grid-template-areas:
    ". a a ."
    ". a a .";
}

.blank-state--inner {
  align-self: center;
  grid-area: a;
  justify-self: center;
  margin-top: -10px;
}

.secret-key__key {
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  word-wrap: break-word;

  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.account--extras {
  margin-top: 15px;
}

.account--extras a {
  color: #65afec;
}

.account--extras a:hover,
.account--extras a:focus {
  color: #65afec;
}

p.lead {
  font-size: 20px;
  line-height: 1.4;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.lead--card-title {
  margin: 16px 0 0 0;
}

small,
.small {
  font-size: 85%;
}

.floating-feedback-link {
  background: $brand-info;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(180, 200, 230, 0.2);
  bottom: 20px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 4px 0;
  position: absolute;
  right: 20px;
  width: 130px;
  z-index: 1001;
}

.floating-feedback-link:hover,
.floating-feedback-link:active,
.floating-feedback-link:focus {
  background: lighten($brand-info, 10%);
  color: white;
  text-decoration: none;
}

.floating-feedback-link svg {
  margin-right: 4px;
}

.__react_component_tooltip {
  text-align: center;
}

.loader--case-details {
  max-height: 600px;
}

.text-center-on-xs {
  @media (max-width: $screen-sm) {
    text-align: center;
  }
}

.info-question-mark {
  cursor: pointer;
}

.button-container {
  @media (min-width: $screen-sm) {
    text-align: right;
  }
}

.chunk-loading {
  padding-bottom: 3rem;
}

.chunk-loading--col {
  margin: 10rem 0 20rem 0;
}
h4 {
  line-height: 1.5;
}
