.table tr {
  transition: all 800ms ease-in;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border: 0;
  padding: 10px 8px 3px 0px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  font-weight: 700;
}

.table td.text {
  max-width: 80px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
}

.table-responsive {
  @media screen and (max-width: 767px) {
    border: 0;
  }
}

.deactivated {
  opacity: 0.5;
  text-decoration: line-through;
}

.deactivated .address__full {
  text-decoration: line-through;
}

.table--invoice .flip-link span {
  color: lighten($brand-dark-blue, 50%);
}

.table--invoice .flip-link .ether-flip--second-value {
  color: lighten($brand-dark-blue, 70%);
}

.table--invoice .flip-link:hover span {
  color: lighten($brand-dark-blue, 60%);
}

.table--invoice .ether-flip--first-value {
  border-color: transparent;
  display: inline-block;
  text-align: right;
  min-width: 110px;
}

.table--invoice .ether-flip--second-value {
  display: inline-block;
  text-align: right;
  min-width: 110px;
}

.table--invoice td {
  text-align: right;
}

.table--invoice th,
.table--invoice td {
  @media screen and (max-width: 767px) {
    display: block;
    margin: 10px 0;
    text-align: left;
  }
}

.table--invoice > tbody > tr > th {
  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.table--invoice > tbody > tr > td {
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.table--invoice .ether-flip--first-value,
.table--invoice .ether-flip--second-value {
  @media screen and (max-width: 767px) {
    text-align: left;
  }
}
